<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr *ngFor = "let satelliteName of satellites" class="data-row">
        <td>{{satelliteName.name}}</td>
        <td [class.warning] = 'satelliteName.operational'  >{{satelliteName.type}}</td>
        <td>{{satelliteName.operational}}</td>
        <td>{{satelliteName.orbitType}}</td>
        <td>{{satelliteName.launchDate}}</td>
    </tr>
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

<!-- [class.warning] = "isSpaceDebris(satelliteName.type)" -->